<%- include('partials/header'); -%>

<div>
  <div class="home__bannerImage">
    <img src="/smoothie.png" alt="" />
  </div>
  <div>
    <h1>Get all smoothies?</h1>
    <a href="/smoothies" class="btn">GET ALL SMOOTHIES</a>
  </div>
</div>

<%- include('partials/footer'); -%>