<%- include('partials/header'); -%>
  <form>
    <h3>Login</h3>
    <div class="input-field">
      <input type="email" name="email" placeholder="foo@bar.com" />
    </div>
    <div class="input-field">
      <input type="password" name="password" placeholder="******" />
    </div>
    <div>
      <button type="submit" class="btn"> LOGIN</button>
    </div>
  </form>

<%- include('partials/footer'); -%>