@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

body{
  background-color: #f2f2f2;
}

.btn{
  font-family: "Quicksand";
  background-color: #3b0e4a !important;
}

.btn:hover{
  font-family: "Quicksand";
  background-color: #3b0e4a !important;
}



 /* form styles */
 .authForm {
   max-width: 500px;
   margin: 30px auto;
   background-color: #ffffff; 
   padding: 30px 50px;
 }

 .authForm h3{
   font-weight: 600;
   color: #4d4d4d;
 }